/* General Page Styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color:#2b7d00;
    width: auto;
    max-width: 1500px;
    margin: 0 auto;
    float: none;
}

/* Header & Nav Section */
header {
    position: sticky;
    width: 100%;   
    height: 75px;
    top: 0;
    background-color: white;
    z-index: 2;
}

#logo {
    height: 60px;
    width: auto;
    margin: 10px 0 0 20px;
    float: left;
}

#menu {
    float: right; 
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #2b7d00;
    color: white
}

.active {
    border-bottom: 1px solid #2b7d00;
}

/* Hero Section */
#hero-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;     
}

#hero-image {
   height: 600px;
   width: auto;
   background: url("../images/hero-image-home5.jpg") no-repeat center center;
   margin-top: 10px;
   overflow: hidden;    
}

#hero-image-overlay-text {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(43,125,0,0.6);  
    width: 400px;
    height: 200px;
    position: absolute;  
    left: 10%;           
    bottom: 5%;
    padding: 30px;
}

#h1-overlay {
    font-size: 200%;
    text-align: center;
    margin-bottom: 30px;
}

#list-overlay {
    margin-left: 20px;
    font-size: 140%;
    list-style: none;
}

#list-overlay i {   
    padding-right: 10px;
    margin-bottom: 10px;
}

/* Product Section */
#product-section {
    width: 100%;
    height: 1200px;
    margin: 0 auto;
}

#three-choices {
    margin: 50px 0 50px 0;
    font-size: 350%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 1200;
}

#kigelia {
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: #2b7d00;
    width: 30%;
    height: 1200px;
    margin-left: 2%;
}

#tissue-oil {
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: #2b7d00;
    width: 30%;
    height: 1200px;
    margin-left: 2%;
}

#foot-food {
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: #2b7d00;
    width: 30%;
    height: 1200px;
    margin: 0 2% 0 2%;
}

/*  Kigelia Product Section  */
#kigelia-image-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

#kigelia-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#kigelia-text {
    height: 50%;
    text-align: center;
    font-size: 120%;
    margin: 0 0 30px 0;
    overflow: auto;     
}

#kigelia-text h3, h4 {
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 0 10px 20px 20px;
}

#kigelia-text-list {
    margin: 0 10px 20px 20px;
    text-align: left;
    list-style-type: none;
}

#kigelia-text-list > li {
    padding-bottom: 15px;
}

#kigelia-button-container {
    margin-top: 20px;
    height: 10%;
    width: 100%;
    text-align: center;
}

#kigelia-button {
    padding: 10px 40px;
    background-color: #ff9f3f;
    border-radius: 30px;
    font-size: 120%;
}

#kigelia-button:hover {
    background-color: #2b7d00;
    color: white
}

/*  Foot Food Product Section  */
#foot-food-image-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

#foot-food-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto; 
}

#foot-food-text {
    height: 50%;
    text-align: center;
    font-size: 120%;
    margin: 0 0 30px 0;
    overflow: auto;
}

#foot-food-text h3, h4 {
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 0 10px 20px 20px;
}

#foot-food-text-list {
    margin: 0 10px 20px 20px;
    text-align: left;
    list-style-type: none;
}

#foot-food-text-list > li {
    padding-bottom: 15px;
}

#foot-food-button-container {
    margin-top: 20px;
       height: 10%;
    width: 100%;
    text-align: center;
}

#foot-food-button {
    padding: 10px 40px;
    background-color: #ff9f3f;
    border-radius: 30px;
    font-size: 120%;
}

#foot-food-button:hover {
    background-color: #2b7d00;
    color: white
}

/*  Tissue Oil Product Section  */
#tissue-oil-image-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

#tissue-oil-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#tissue-oil-text {
    height: 50%;
    text-align: center;
    font-size: 120%;
    margin: 0 0 30px 0;
    overflow: auto;
}

#tissue-oil-text h3, h4 {
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 0 10px 20px 20px;
}

#tissue-oil-text-list {
    margin: 0 10px 30px 20px;
    text-align: left;
    list-style-type: none;
}

#tissue-oil-text-list > li {
    padding-bottom: 10px;
}

#tissue-oil-button-container {
    margin-top: 20px;
    height: 10%;
    width: 100%;
    text-align: center;
}

#tissue-oil-button {
    padding: 10px 40px;
    background-color: #ff9f3f;
    border-radius: 30px;
    font-size: 120%;
}

#tissue-oil-button:hover {
    background-color: #2b7d00;
    color: white
}

/* Footer Section */
footer {
    height: 75px;
    width: 100%;
    max-width: 1500px;
    margin-top: 150px;
}

#footer-hr {
    margin-left: -50%;
    width: 200%;
}

footer h3 {
    text-align: center;
    margin-top: 30px;
}
    
.social-networks {
    text-align: center;
}
    
.social-networks > li {
    display: inline;
}
    
.social-networks i {
    font-size: 300%;
    margin: 1%;
    padding: 1%;
    color: #2b7d00;    
}

/* About Page */
#about-section {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

/* About Us */
#about-us h2 {
    margin-bottom: 10px;
    font-size: 200%;
}

#about-us p {
    margin-bottom: 15px;
}

#why-basix {
    margin-top: 40px;
}

#why-basix h2 {
    margin-bottom: 10px;
    font-size: 200%;
}

#why-basix p {
    margin-bottom: 15px;
}

/* Form */
.contact-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(43,125,0,0.6);  /* opaque background color */
    width: 400px;
    position: absolute;  /*  fixes this to the page  */
    left: 10%;           /* positions it in from left by 10% */
    bottom: 5%;
    padding: 30px;   
}

.contact-form h2 {
    color:#fff;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;  /* removes the input background  */
    color:#fff;
    width: 100%;   /* sets the input fields to 100% of 400px width */
    height: 25px;
    margin: 5px 0 20px 0;   /* sets the margins around the text input */
    border: 1px solid #fff;
    border-radius: 2px;
}

.text-input:hover {
    border-color: black;
}

.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: white;
    color: #2b7d00;
    display: inline;   /* drops the button below the text */
}

.reset-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: white;
    color: #2b7d00;
    display: inline; 
}

.send-button:hover {
    background-color: #fafafa;
    color: black;
    font-weight: 520;
}

.reset-button:hover {
    background-color: #fafafa;
    color: black;
    font-weight: 520;
}

#email {
    margin-bottom: 20px;
}

/* Media Queries */
/* Screen size <1050 px wide */
@media screen and (max-width: 1050px) {
    header {
        height: 125px;
    }
    
    #menu {
        clear: left;      /*  drops the menu items to a new line  */
        float: left;
        margin: 20px 0 0 30px;
        line-height: 25px; 
    } 

    #hero-image {
        height: 600px;
        background: url("../images/hero-image-home5.jpg") no-repeat center center;
        overflow: hidden;    
     }
      
    #product-section {
        width: 75%;
        height: 1200px;
        margin: 0 auto;
    }

    #kigelia, #foot-food, #tissue-oil {
        width: 100%;
        display: inline-block;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 30px;   
    }

    #tissue-oil {
        margin-bottom: 50px;
    }
}


   