/* General Page Styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color:#2b7d00
}


/* Header & Nav Section */

header {
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: white;
}

#logo {
    height: 60px;
    width: auto;
    margin: 10px 0 0 20px;
    float: left;
}

#menu {
    float: right; 
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    float: right;
}

hr {
    border-top: 1px solid #2b7d00;
    width: 95%;
    margin: 0 auto;
}

#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #2b7d00;
    color: white
}

/* Hero Section */

#hero-image {
   height: 600px ;
   width: 100%;  
   background: url("../images/hero-image-home2.jpg") no-repeat center center;
   margin-top: 20px;   
}

#hero-image-overlay-text {
    background-color: rgba(43,125,0,0.6);
    width: 400px;
    height: 200px;
    color: white;
    font-size: 90%;
    
}